/* src/components/css/Scoreboard.css */

.scoreboard {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    overflow: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  button {
    margin-top: 10px;
  }
  
  .scorecard-container {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    overflow: auto;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .grid-item {
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
  }

  .station-grid-container {
    margin-bottom: 5px; /* Reduce the space between rows of StationGrid components */
  }

  .shot {
    position: relative; /* Make the shot div a containing block for absolute positioning */
    width: 30px; /* Adjust as necessary */
    height: 30px; /* Adjust as necessary */
    border: 1px solid #ddd; /* Example border */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #f9f9f9; /* Example background color */
  }

  .tp-label {
    position: absolute; /* Absolute positioning within the shot div */
    color: white; /* Example color for TP label */
    font-size: 12px; /* Adjust size as needed */
  }